section.box-banner {
    height: 35vw;
    position: relative;
    max-height: 450px;
}
	.box-banner .b-head {
	    z-index: 1;
	    top: 50%;
	    transform: translateY(-50%);
	}
	.box-banner .box-video {
		z-index: 1;
	    position: relative;
	    height: 100%;
	}
		.box-banner .box-video video ,
		.box-banner .box-video iframe {
			outline: 0px;
		    width: 100%;
		    height: 100%;
	        background-color: #000;
		}
		
	.box-banner .BG-img {
		background: no-repeat center center;
	    background-size: cover;
	    position: absolute;
	    left: 0px;
	    right: 0px;
	    top: 0px;
	    height: 100%;
	    width: 100%;
	}
	.box-banner h2.b-head+.BG-img {
	    opacity: .4;
	}
	.box-banner .box-video+.BG-img {
	    filter: blur(1px) brightness(0.5);
	}
	
section.box-Ourstory {
    /* background: #000000 url(../../images/BG-Ourstory-rt.png) no-repeat right top ; */
	background-size: 350px ;
	padding: 40px 0px;
	padding-bottom: 72px;
}
	.box-Ourstory .row {
	    flex-direction: row-reverse;
	}
		.box-Ourstory img.img-Ourstory {
			display: block;
			width: 100%;
		}
		.box-Ourstory .b-text {
			width: 80%;
		}
			.box-Ourstory .b-text img.icon-Logo {
				width: 100px;
			}
			.box-Ourstory .b-text .b-head {
				margin-left: -15px;
				margin-top: 20px;
			}
			.box-Ourstory .b-text p {
				padding-bottom: 20px;
			}
			.box-Ourstory .b-text h2 {
			    color: #b19058;
			    font-weight: bold;
			}
			.box-Ourstory img.icon-premium {
			    width: 90px;
			    vertical-align: text-bottom;
			    margin-top: -30px;
			}
			
section.box-Ourstory2 {
    background-color: #202020;
    /* background-image: url(../../images/BG-Ourstory-lb.png),url(../../images/BG-Ourstory.jpg); */
    background-repeat: no-repeat;
	background-position-x: calc(50% - 248px) , center;
    background-position-y: calc(100% - 80px) , bottom;
    background-size:  500px , 100% calc(100% - 50px);
    padding: 40px 0px;
    padding-bottom: 134px;
}
	.box-Ourstory2 .row {

	}
		.box-Ourstory2 img.img-Ourstory {
			display: block;
			width: 100%;
			margin-top: -22%;
		    z-index: 1;
		    position: relative;
		}
		.box-Ourstory2 .b-text {
			width: 80%;
		    margin-left: auto;
		}
			.box-Ourstory2 .b-text p {
				padding-bottom: 20px;
			}
			.box-Ourstory2 .b-text h2 {
			    color: #b19058;
			    font-weight: bold;
			}
			
section.box-Ourstory3 {
    background: #000000;
	background-size: 400px ;
	padding: 40px 0px;
}
	.box-Ourstory3 .row {
	    flex-direction: row-reverse;
	}
		.box-Ourstory3 img.img-Ourstory {
			display: block;
			width: 100%;
			margin-top: -15%;
		    z-index: 1;
		    position: relative;
		}
		.box-Ourstory3 .b-text {
			width: 80%;
		}
			.box-Ourstory3 .b-text img.icon-Logo {
				width: 100px;
			}
			.box-Ourstory3 .b-text .b-head {
				margin-left: -15px;
				margin-top: 20px;
			}
			.box-Ourstory3 .b-text p {
				padding-bottom: 20px;
			}
			.box-Ourstory3 .b-text h2 {
			    color: #b19058;
			    font-weight: bold;
			}
			.box-Ourstory3 img.icon-premium {
			    width: 90px;
			    vertical-align: text-bottom;
			    margin-top: -30px;
			}
					
    /* ---------------------------------------------------**** Mobile and Tablet ****--------------------------------------------------- */
    @media only screen and (min-width: 320px) and (max-width: 1024px) {
		section.box-Ourstory {
		    padding: 20px 0px;
		}
		section.box-Ourstory2  {
		    padding: 0px 0px 30px 0px;
		}
		section.box-Ourstory3 {
		    padding: 20px 0px;
		}
		.box-Ourstory .b-text ,
		.box-Ourstory2 .b-text ,
		.box-Ourstory3 .b-text {
		    padding: 0px;
		    margin: 0px;
		    width: 100%;
		}
		.box-Ourstory img.img-Ourstory ,
		.box-Ourstory2 img.img-Ourstory ,
		.box-Ourstory3 img.img-Ourstory {
			max-width: 450px;
		    margin: 0px auto;
		}
    }

    /* ---------------------------------------------------**** Tablet ****--------------------------------------------------- */
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
        /* แนวตั้ง */
        @media only screen and (orientation:portrait){
			.box-Ourstory3 .quotationMarks {
			    margin-bottom: 20px;
	        }
		}
        /* แนวนอน */
        @media only screen and (orientation:landscape){

        }
    }

    /* ---------------------------------------------------**** Mobile ****--------------------------------------------------- */
    @media only screen and (min-width: 320px) and (max-width: 767px) {

        /* แนวตั้ง */
        @media only screen and (orientation:portrait){
			section.box-banner {
			    height: 100vw;
		    }
			section.box-Ourstory {
			    padding: 25px 0px;
			}
			.box-Ourstory img.img-Ourstory {
			    margin-bottom: 30px;
			}
			.box-Ourstory3 .quotationMarks {
			    margin-bottom: 20px;
		        background-image: url(../../images/icon-quotation-marks.png);
	        }
			.box-Ourstory3 .quotationMarks::after {
			    content: "";
			    width: 27px;
			    height: 27px;
			    background: url(../../images/icon-quotation-marks.png) no-repeat -6px 0px;
			    background-size: auto 100%;
			    position: absolute;
			    right: 28%;
			    top: 50%;
			}
			.box-Ourstory3 img.icon-premium {
				margin: 0px;
			    visibility: initial;
			    display: block;
			    margin-left: -15px;
			    width: 65px;
			    float: right;
			    transform: translate(-33px,-20px);
			}
			section.box-Ourstory2 {
			    background-position-x: center , center;
			    background-position-y: center , bottom;
			}
        }
        /* แนวนอน */
        @media only screen and (orientation:landscape){

        }
    }
