section.box-banner {
    height: 35vw;
    position: relative;
    max-height: 450px;
}
	.box-banner .b-head {
	    z-index: 1;
	    top: 50%;
	    transform: translateY(-50%);
	}
	.box-banner .box-video {
		z-index: 1;
	    position: relative;
	    height: 100%;
	}
		.box-banner .box-video video ,
		.box-banner .box-video iframe {
			outline: 0px;
		    width: 100%;
		    height: 100%;
	        background-color: #000;
		}
		
	.box-banner .BG-img {
		background: no-repeat center center;
	    background-size: cover;
	    position: absolute;
	    left: 0px;
	    right: 0px;
	    top: 0px;
	    height: 100%;
	    width: 100%;
	}
	.box-banner h2.b-head+.BG-img {
	    opacity: .4;
	}
	.box-banner .box-video+.BG-img {
	    filter: blur(1px) brightness(0.5);
	}
	
section.box-banner-text {
    background: url(../../images/BG-buffet-left.png),url(../../images/BG-buffet-right.png);
    background-repeat: no-repeat;
    background-position-x: left , right;
    background-position-y: top;
    background-size: contain;
}
	.box-banner-text .container {
	    border-bottom: 1px solid #4d3f26;
	}
		.box-banner-text .box-text {
		    max-width: 700px;
		    margin: auto;
		    text-align: center;
		    padding: 10px 0px 50px 0px;
		}
			.box-banner-text .box-text p {
			    max-width: 500px;
			    padding: 0px 8px;
			    margin: auto;
			    margin-bottom: -10px;
			    font-size: 1.4em;
			}
			.box-banner-text img.icon-premium {
				width: 90px;
				vertical-align: text-bottom;
				margin-top: -30px;
			}
			
section.box-Recommend {
    background-color: #090909;
    padding: 35px 0px;
}
	.box-Recommend .box-slide {
		position: relative;
	    padding: 0px 4%;
	}
		.box-Recommend h4 {
		    margin-bottom: 20px;
		    margin-top: 10px;
		}
		.box-Recommend .box-slide .item {
		    background-color: #000000;
		    position: relative;
		    margin: 0px 5px;
		}
		.box-Recommend .item.new::after {
			content: "";
		    width: 85px;
		    height: 35px;
		    background: url(../../images/icon-new.png) no-repeat center center;
		    background-size: contain;
		    position: absolute;
		    left: 10px;
		    top: 10px;
		}
			.box-Recommend .item a {
				color: #ffffff;
			}
				.box-Recommend .item h5 {
					margin: 0px;
				    color: #d9292b;
				    padding: 10px;
				}				
				.box-Recommend .item p {
					padding: 0px 10px;
				    margin: 0px;
				    white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
				}
				.box-Recommend .item span {
					padding: 0px 10px 10px 10px;
					color: #f1efec;
					display: block;
				}
		
		.box-Recommend .o-prev ,
		.box-Recommend .o-next {
			display: inline-block;
		    position: absolute;
		    top: 50%;
		    cursor: pointer;
	        z-index: 1;
		}
		.box-Recommend .o-prev {
			transform: translateY(-50%) rotate(180deg);
			left: -4%;
		}
			.box-Recommend .o-prev img {
				display: block;
				width: 20px;
			}
			
		.box-Recommend .o-next {
		    transform: translateY(-50%);
		    right: -4%;
		}
			.box-Recommend .o-next img {
				display: block;
				width: 20px;
			}
			
section.box-tablist {
	
}
	.box-tablist ul.nav {
	    display: flex;
	    padding: 20px 0px;
	}
		.box-tablist ul.nav li {
		    width: calc(100%/3);
		}
			.box-tablist ul.nav li a {
			    border: 1px solid #c19d60;
			    background: rgb(154 157 162 / 20%);
			    color: #c19d60;
			    padding: 17px;
			    display: block;
			    line-height: 1.4;
			    text-align: center;
			    margin: 12px;
			    transition: .5s;
			}
			.box-tablist ul.nav li:hover a ,
			.box-tablist ul.nav:not(:hover) li a.active {
			    background: #c19d60;
			    color: #000000;
			}
				.box-tablist ul.nav li h3 {
				    text-transform: uppercase;
				    margin: 0px;
				}
				.box-tablist ul.nav li p {
					margin: 0px;
					font-size: 0.8em;
				}
				.box-tablist ul.nav li b {
				    font-weight: bold;
				}
.tab-content {
	
}
	.tab-content img {
		width: 100%;
	}
			
section.box-List {
	padding: 15px 0px;
	color: #f1efec;
}
	.box-List h4 {
	    color: #ffffff;
	    margin-bottom: 15px;
	}
	.box-List .item {
	    background-color: #090909;
	    position: relative;
	    margin: 0px 5px;
	}
	.box-List .item.new::after {
		content: "";
	    width: 85px;
	    height: 35px;
	    background: url(../../images/icon-new.png) no-repeat center center;
	    background-size: contain;
	    position: absolute;
	    left: 10px;
	    top: 10px;
	}
		.box-List a {
			color: #ffffff !important;
		}
			.box-List .item h5 {
				margin: 0px;
			    color: #d9292b;
			    padding: 10px;
			}						
			.box-List .item p {
				padding: 0px 10px;
			    margin: 0px;
			    white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}
			.box-List .item span {
				padding: 0px 10px 10px 10px;
				color: #f1efec;
				display: block;
			}
					
    /* ---------------------------------------------------**** Mobile and Tablet ****--------------------------------------------------- */
    @media only screen and (min-width: 320px) and (max-width: 1024px) {
		.box-tablist ul.nav li h3 {
		    font-size: 1.4em;
		}
		.box-tablist ul.nav li p {
		    font-size: 0.7em;
		}
		.box-tablist ul.nav li b {
		    font-size: 0.8em;
		}
    }

    /* ---------------------------------------------------**** Tablet ****--------------------------------------------------- */
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
		.box-Recommend .o-prev {
		    left: -18px;
		}
		.box-Recommend .o-next  {
		    right: -18px;
		}
        /* แนวตั้ง */
        @media only screen and (orientation:portrait){

		}
        /* แนวนอน */
        @media only screen and (orientation:landscape){

        }
    }

    /* ---------------------------------------------------**** Mobile ****--------------------------------------------------- */
    @media only screen and (min-width: 320px) and (max-width: 767px) {
		section.box-Recommend {
		    overflow-x: hidden;
		    position: relative;
		}
		.box-tablist ul.nav li {
		    width: calc(100%/1);
		}
        /* แนวตั้ง */
        @media only screen and (orientation:portrait){
			section.box-banner {
			    height: 100vw;
		    }
		    section.box-banner-text {
			    background-position-x: -137px , calc(100% + 120px);
		    }
		    .box-banner-text .box-text p {
			    margin: 0px;
			    padding: 0px 20px;
			    font-size: 0.9em;
		    }
			.box-banner-text .quotationMarks {
			    padding: 0px 32px;
	        }
			.box-banner-text .quotationMarks::after {
				display: none;
			}
			.box-banner-text img.icon-premium {
				display: none;
			}
			.quotationMarks t {
			    display: initial;
			}
			.box-Recommend .owl-carousel ,
			.box-Recommend .owl-carousel .owl-stage-outer {
			    overflow: initial;
			}
			.box-Recommend .box-slide .item {
			    margin: 0px;
		    }
			.box-Recommend .o-prev ,
			.box-Recommend .o-next {
			    height: calc(100% - 17px);
			    top: 0px;
			    transform: none;
			    opacity: 0;
		        width: 35px;
			    right: -28px;
			}
			.box-Recommend .o-prev {
			    left: -28px;
			}
			.box-Recommend .o-next {
			    right: -28px;
			}
        }
        /* แนวนอน */
        @media only screen and (orientation:landscape){
			.box-Recommend .o-prev ,
			.box-Recommend .o-next {
				display: none;
			}
        }
    }
